<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="vue/vue.js"></script>
</head>
<body>
    <div id="demo">
        <input type="radio" id="one" value="背背背背背起了行囊" v-model="picked">
        <label for="one">one</label>
        <br>
        <input type="radio" id="two" value="两只老虎爱跳舞 诶！" v-model="picked">
        <label for="two">two</label>
        <br>
        <span>Picked: {{picked}} </span>
    </div>
    <div id="demo2">
        <select v-model="selected">
            <option v-for="option in options" v-bind:value="option.value">
                {{option.text}}
            </option>
        </select>
        <span>Selected: {{ selected }}</span>
    </div>
    <script>
        var vm = new Vue({
            el: "#demo",
            data: {
                picked: ""
            }
        })
        var vm2 = new Vue({
            el: "#demo2",
            data: {
                selected: "A",
                options: [
                    {text: "one", value: "A"},
                    {text: "two", value: "B"},
                    {text: "three", value: "C"},
                ]
            }
        })
    </script>
</body>
</html>